---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='bryggepraten-boka'>
    <main class='p-4 mx-auto max-w-2xl grid gap-8 mb-8'>
        <h2 class='text-xl'>Bryggepraten - boka</h2>
        <p>Et utvalg av pratene i bokform. Noen av tekstene har ikke vært publisert tidligere.</p>
        <p>
            <cite
                >Observasjonær, funderingær, kommentarær, avsporingær, frie asssosiasjonær. Larsen
                og Hansen har svaret.</cite
            >
        </p>
        <p>
            Boka selges til inntekt for det arbeidet som FJORDBLUES gjør ved å drifte musikkskole
            for barn i Esteli, Nicaragua. Les mer om <a
                href='https://www.bryggepraten.no/nicaragua-prosjektet/'>Nicaragua-prosjektet</a
            >.
        </p>
        <p>
            Overskuddet av Larsen og Hansens bok <em>Bryggepraten</em> går til <a
                href='https://www.bryggepraten.no/nicaragua-prosjektet/'
                >Nicaragua-prosjektet
            </a>
        </p>
        <p class='font-bold'>Kun få eksemplarer igjen!</p>
    </main>
</Layout>
