---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Denne fuglen har fløyet'>
    <main class='mx-auto max-w-2xl'>
        <div class='px-4 py-2'>
            <h2 class='text-2xl'>Denne fuglen har fløyet</h2>
            <p class='font-semibold'>I salg fortsatt! Bestill den her.</p>
        </div>
        <section class='p-4 bg-slate-100 rounded-sm'>
            <h2 class='font-bold'>Anmeldelse av boka av T. Songedal</h2>
            <p>
                Jeg koste meg med denne boka. Jørund Holst-Hansen og Birger Dyve Larsen leker som vi
                er vant til i &rdquo;Bryggepraten&rdquo;, både med karakterene, språket, filosofi,
                historie og politikk.
            </p>
            <p>
                Her møter vi de to kjenningene Hansen og Larsen, som er like surrete og filosofiske
                som de pleier, der de gjennom fortellingen er innom historie, både lokal, nasjonal
                og internasjonal. De er også stadig innom politikk og filosofi, slik vi er vant til.
                For en som har studert teater er det også interessant at de bruker Aristoteles sin
                &rdquo;poetikk&rdquo;, når de snakker om dramaturgien i en historie.
            </p>
            <p>
                De to forfatterne er tydelig også Beatlestilhengere. Dette kommer fram gjennom både
                bokas tittel og titlene på kapitlene, og gjennom stadige små Beatles-drypp som er
                med på å binde historien sammen.
            </p>
            <p>
                Jeg er ikke lokalkjent verken i Sandefjord eller Andalucia, hvor mye av handlingen
                foregår, men det gjør absolutt ikke noe, for historien bæres hele tiden av
                karakterene, som også inkluderer en eldre svenske og en forteller. Å bruke en
                forteller er et godt virkemiddel, og en fin måte å drive historien videre når Hansen
                og Larsen surrer rundt på sin vante måte og er på vei til å rote seg bort.
            </p>
            <p>
                Humoren til Hansen og Larsen er som forventet, og det er også noe av det som gjorde
                at jeg koste meg.
            </p>
        </section>
    </main>
</Layout>
