---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Dribble'>
    <main class='p-4 mx-auto max-w-2xl grid gap-8 mb-8'>
        <h2>Dribble</h2>
        <h3>Forfatter: Åshild Thune</h3>
        <p class='font-semibold'>Bli kjent med Anton Karlsen og bygda hans, DRIBBLE.</p>
        <p>
            Anton Karlsen åpner døra på sin nye, havblå Kia. Lyden er som et kvinesukk. Han stryker
            rundt rattet og setter seg i bilen. Setet, lyst grått og tilpassa en normalkropp som den
            Anton Karlsen har, tar behagelig imot ham. Heldigvis automatgir, tenker han og minnes
            den gamle Citroengen med slarket girspak.
        </p>
        <p>
            Anton Karlsen har skaffa seg bygdas første el-bil. Han skal kjøre sakte og omstendelig
            rundt på alle sine oppdrag. Jomfrutur er det han skal på. Han skal gi folk anledning til
            å se, spørre, glise og si at han snart blir stående mellom Finnvolljordet og Minushaugen
            med dau bil, han som er så fin på det at han ikke vil kjøre diesel. Men Anton Karlsen er
            ikke fin på det. Han har lest seg opp på verdens bedrøvelige gang og vet at framskrittet
            ligger i el. Bygda hans rager ikke høyt på forurensingskalaen etter at tremassefabrikken
            ble lagt ned. Sjøl har han ikke bevega seg lenger sør i verden enn til en campingplass
            på Løkken i Danmark. Men Anton ser seg som globalist. Alt henger sammen med alt, vil han
            si til de som bryr seg. Denne bilfilla er bare et ørlite bidrag til en bedre verden. De
            fleste vil glise skjevt og snakke drit bak ryggen hans. Men hva gjør det? Anton Karlsen
            har høyere mål i livet enn å stirre på skotuppene og sjekke prostataen.
        </p>
    </main>
</Layout>
