---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Utgivelser'>
    <main class='p-4 mx-auto max-w-2xl'>
        <h2>Utgivelser</h2>
        <p>Bøker, kalnderær og annet snadder!</p>
        <ul>
            <li>
                <a
                    href='/utgivelser/bryggepraten-boka'
                    class='underline text-indigo-800 hover:text-indigo-600 dark:text-indigo-100 dark:hover:text-indigo-300'
                    >Bryggepraten boka</a
                >
            </li>
            <li>
                <a
                    href='/utgivelser/denne-fuglen-har-floyet'
                    class='underline text-indigo-800 hover:text-indigo-600 dark:text-indigo-100 dark:hover:text-indigo-300'
                    >Denne Fuglen Har Fløyet</a
                >
            </li>
            <li>
                <a
                    href='/utgivelser/veiene-inn'
                    class='underline text-indigo-800 hover:text-indigo-600 dark:text-indigo-100 dark:hover:text-indigo-300'
                    >Bryggepratens Håndbok &hyphen; Veiene Inn</a
                >
            </li>
            <li>
                <a
                    href='/utgivelser/liv-og-leven-pa-karia'
                    class='underline text-indigo-800 hover:text-indigo-600 dark:text-indigo-100 dark:hover:text-indigo-300'
                    >Liv og leven på Karia</a
                >
            </li>
        </ul>
    </main>
</Layout>
