---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Liv og leven på Karia'>
    <main class='p-4 mx-auto max-w-2xl grid gap-8 mb-8'>
        <h2>Liv og leven på Karia</h2>
        <p>
            <span class='font-bold'>Pils, bayer og fløte</span> - Er et av 25 dikt som Øyvind Børresen
            (f. 1956) har skrevet i sin nye bok: ”Liv og leven på Karia”. Diktene er observasjoner og
            situasjoner fra hans oppvekst i Larvik. Med varme og innsikt forteller han om originale personer
            og Karistranda eller Karia som han kaller det.
        </p>
        <p>Bestill boka her.</p>
    </main>
</Layout>
