---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Veiene Inn'>
    <main>
        <h2>Bryggepratens Håndbok &hyphen; Veiene Inn</h2>
        <p class='font-semibold'>Åssen er <em>sandefjordingær</em> og åssenbli en av dem?</p>
        <p>for sandefjordingær, innfløtterær og andre</p>
    </main>
</Layout>
