---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Nicaragua-prosjektet'>
    <main class='mx-auto max-w-2xl'>
        <h2>Nicaragua-prosjektet</h2>
        <p>
            Fjordbluesfestivalen så dagens lys i 2004 på øya Lindholmen i Vestfjorden. Alle
            musikerne spiller gratis. Overskuddet fra festivalen brukes til å drifte to musikkskoler
            i Nicaragua for til sammen 50 barn og unge. Dette har blitt prosjektets hovedmål og en
            viktig grunn til at mange mennesker besøker oss hvert år, den andre helgen i august, og
            at artistene fortsatt spiller gratis.
        </p>

        <p>
            Vårt engasjement i Nicaragua blir meget godt mottatt av våre publikummere, og en ny
            dimensjon er knyttet til festivalen: Vi hjelper barn på andre siden av jordkloden til et
            bedre liv. Vi driver altså to musikkskolegrupper oppe i fjellene i Esteli, en by som
            ligger 800 meter over havet i Nicaragua. Våre lærere, som tidligere levde av å spille på
            restauranter om kvelden, der de fikk lov, har sluttet med dette og jobber kun for oss, 6
            dager i uka. De får 5 USD i timen og lønnes for 12 timer i uka. I tillegg får de ekstra
            betalt for lang kjørevei til den ene musikkskolen, samt litt penger til mat. Lønnen er
            nok til å forsørge deres familier, og det har gitt barna i familien muligheter til å
            studere. I tillegg til at 50 barn får en verdifull og meningsfull fritid.
        </p>

        <p>
            Vi finansierer også gitarer, fløyter, papir og blyanter, samt en del materiell og utstyr
            til vår samarbeidspartner Movedupce. De siste årene har festivalen blitt arrangert på
            Gokstad kystlag.
        </p>
    </main>
</Layout>
