---
---

<footer class='grid'>
    <p class='text-center text-semibold'>
        Siden er bygget av <a
            href='https://aolar.no'
            class='underline text-indigo-800 hover:text-indigo-600 dark:text-indigo-100 dark:hover:text-indigo-300'
            >Aolar.no</a
        >
    </p>
</footer>
