---
import paBrygga from '../images/paa_brygga_v1.png';
import { Image } from '@astrojs/image/components';
const thisYear = new Date().getFullYear();
---

<footer
    class='p-4 mt-24 grid md:grid-cols-2 place-content-center text-center bg-yellow-600 text-amber-100 relative'
>
    <Image
        src={paBrygga}
        alt='gutta på brygga'
        format='png'
        class='absolute md:right-0 bottom-full'
    />
    <div class='place-self-center'>
        <p>{thisYear} &copy; Bryggekanten Forlag</p>
        <p>
            Nettsiden er laget av <a
                href='https://aolar.no'
                class='underline hover:text-yellow-300 dark:text-indigo-100 dark:hover:text-indigo-300'
                >Aolar.no</a
            >
        </p>
    </div>
</footer>
